BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 33ce57b06e9d

CREATE TABLE crop_advisory (
    id SERIAL NOT NULL, 
    crop_name VARCHAR(255) NOT NULL, 
    fertilizer_recommendation TEXT, 
    pesticide_recommendation TEXT, 
    irrigation_advice TEXT, 
    weather_advice TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_crop_advisory_crop_name ON crop_advisory (crop_name);

CREATE INDEX ix_crop_advisory_id ON crop_advisory (id);

CREATE TYPE producttypeenum AS ENUM ('fertilizer', 'pesticide', 'tool');

CREATE TYPE categoryenum AS ENUM ('organic', 'chemical');

CREATE TABLE shop_inventory (
    id SERIAL NOT NULL, 
    shopkeeper_id INTEGER NOT NULL, 
    product_name VARCHAR(255) NOT NULL, 
    product_type producttypeenum NOT NULL, 
    category categoryenum NOT NULL, 
    quantity_available INTEGER NOT NULL, 
    price NUMERIC(10, 2) NOT NULL, 
    availability BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(shopkeeper_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_shop_inventory_id ON shop_inventory (id);

CREATE INDEX ix_shop_inventory_shopkeeper_id ON shop_inventory (shopkeeper_id);

DROP TABLE farmers;

DROP TABLE products;

DROP TABLE "CropAnalyses";

DROP TABLE "ChatHistories";

DROP TABLE shops;

DROP TABLE ai_usage_analytics;

DROP TABLE "Shops";

DROP TABLE crop_reports;

DROP TABLE "Farmers";

DROP TABLE "Reminders";

DROP INDEX chat_histories_session_id;

DROP INDEX chat_histories_user_id;

DROP INDEX chat_histories_user_id_session_id;

DROP TABLE chat_histories;

DROP TABLE admin_logs;

DROP TABLE "Products";

DROP TABLE "Users";

ALTER TABLE chat_history ADD COLUMN user_id INTEGER NOT NULL;

ALTER TABLE chat_history ADD COLUMN role VARCHAR(50) NOT NULL;

ALTER TABLE chat_history ADD COLUMN created_at TIMESTAMP WITH TIME ZONE DEFAULT now();

ALTER TABLE chat_history ALTER COLUMN id TYPE INTEGER;

ALTER TABLE chat_history ALTER COLUMN response DROP NOT NULL;

CREATE INDEX ix_chat_history_id ON chat_history (id);

CREATE INDEX ix_chat_history_user_id ON chat_history (user_id);

ALTER TABLE chat_history DROP CONSTRAINT "chat_history_userId_fkey";

ALTER TABLE chat_history ADD FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE chat_history DROP COLUMN "userId";

ALTER TABLE chat_history DROP COLUMN timestamp;

ALTER TABLE reminders ADD COLUMN user_id INTEGER NOT NULL;

ALTER TABLE reminders ADD COLUMN reminder_type VARCHAR(50) NOT NULL;

ALTER TABLE reminders ADD COLUMN message TEXT NOT NULL;

ALTER TABLE reminders ADD COLUMN reminder_date TIMESTAMP WITH TIME ZONE NOT NULL;

ALTER TABLE reminders ADD COLUMN created_at TIMESTAMP WITH TIME ZONE DEFAULT now();

ALTER TABLE reminders ALTER COLUMN id TYPE INTEGER;

CREATE INDEX ix_reminders_id ON reminders (id);

CREATE INDEX ix_reminders_user_id ON reminders (user_id);

ALTER TABLE reminders DROP CONSTRAINT "reminders_userId_fkey";

ALTER TABLE reminders ADD FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE reminders DROP COLUMN "createdAt";

ALTER TABLE reminders DROP COLUMN "remindAt";

ALTER TABLE reminders DROP COLUMN title;

ALTER TABLE reminders DROP COLUMN "isCompleted";

ALTER TABLE reminders DROP COLUMN "userId";

ALTER TABLE reminders DROP COLUMN description;

ALTER TABLE users ADD COLUMN password_hash VARCHAR(255) NOT NULL;

ALTER TABLE users ADD COLUMN location VARCHAR(255);

ALTER TABLE users ALTER COLUMN id TYPE INTEGER;

ALTER TABLE users ALTER COLUMN email SET NOT NULL;

ALTER TABLE users ALTER COLUMN role TYPE roleenum;

ALTER TABLE users ALTER COLUMN created_at TYPE TIMESTAMP WITH TIME ZONE;

ALTER TABLE users ALTER COLUMN created_at DROP NOT NULL;

ALTER TABLE users DROP CONSTRAINT users_email_key;

ALTER TABLE users DROP CONSTRAINT users_phone_key;

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

ALTER TABLE users DROP COLUMN preferred_language;

ALTER TABLE users DROP COLUMN updated_at;

ALTER TABLE users DROP COLUMN password;

ALTER TABLE users DROP COLUMN otp_expiry;

ALTER TABLE users DROP COLUMN otp_code;

ALTER TABLE users DROP COLUMN is_active;

INSERT INTO alembic_version (version_num) VALUES ('33ce57b06e9d') RETURNING alembic_version.version_num;

COMMIT;

